#root{
    overflow: auto;
    box-sizing: border-box;
    background-color:cadetblue;
    height: 100vh;
    width:100vw;
}


.footer {
    margin-top:20px;
    text-align: center;
    width: 100%;
    color:white
}


.footer a {
    color: white;
    text-decoration: none;
    text-decoration: underline;
    margin: 0 20px;
}
